
/* Estilos para o BODY */
body.JA {
  background-color: rgb(16, 18, 56);
}

/* Estilos para o menu de navegação */
.navbar {
  background-color: green;
}
.logo {
  color: white;
}


/* Estilos para FONTES */
h1{
  color: white;
  text-decoration: underline;
}
h2{
  text-decoration: underline;
}
h3{
  color: aqua;
  text-align: center;
}
h4{
  color: blueviolet;
  text-align: center;
}
h5{
  color: whitesmoke;
  padding-left: 1%;
  padding-right: 2%;
  text-indent: 10%;
}

/* Estilos para IMAGENS */
.JA {
  background-image: url('');
  .JA {
  width: 48%;
  height: 48%;
  padding-left: 26%;
  }
}

/* Estilos para PARAGRAFOS */
p{
  color: gold;
}
p1{
  color: greenyellow;
}

/* Estilos para COLUNAS */
/* grid 100%*/
.colunaJA {
  color: white;
}
.colJA1 {
  /* Para Android e iOS */
  color: white;
}
.colJA2 {
/* Para Android e iOS */
  color: white;
}

.colJA3 {
/* Para Android e iOS */
  color: silver;
}

.colJA4 {
/* Para Android e iOS */
  color: silver;
}

