/* Celular peq*/
@media (max-width: 480px) {
  body{
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 94%;
  }
  .navbar {
    display: flex;
    padding-right: 2%;
    overflow: auto;
    width: 100%;
  }
  .logo {
    font-style: italic;
    padding-left: 3%;
    padding-right: 3%;
  }
  .menu {
    list-style: none;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
  }
  .menu li { 
    padding-left: 2%;
    padding-right: 2%;
  }

  .font {
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    font-size: 102%;
    
  }
  h2{
    font-size: 97%;
  }
  h3{
    font-size: 102%;
  }
  h4{
    font-size: 102%;
  }
  h5{
    font-size: 102%;
  }

  p{
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
    text-indent: 10%;
    font-size: 115%;
    width: 100%;
  }

  p1{
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 115%;
    width: 100%;
  }

  p2{
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-left: 1%;
    padding-right: 1%;
    text-indent: 10%;
    font-size: 115%;
    width: 100%;
  }

  /* Estilos para COLUNAS */
  /* grid 100%*/
  .linha {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 0% 0%;
    }
  .colunaJA {
    float: left;
    }
  .colJA1 {
    /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 60%;
    width: 50%;
    text-align: left;
    padding-left: 0%;
    }
  .colJA2 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 60%;
    width: 50%;
    text-align: left;
    padding-right: 0%;
    }

  .colJA3 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 104%;
    width: 96%;
    text-indent: 1%;
    padding-left: 4%;
  }
    
  .colJA4 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 104%;
    width: 96%;
    text-indent: 0%;
    padding-left: 4%;
  }

  .colser1 {
    /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-indent: 1%;
    padding-left: 4%;
    font-size: 104%;
    width: 96%;
    text-align: left;
  }

  /* Estilos para BOTÕES */
  .btn-Certificados {
    background-color: rgb(247, 247, 102); /* Cor de fundo do botão */
    color: red; /* Cor do texto */
    border: none; /* Sem bordas */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    padding: 1% 1%;
    font-size: 150%;
    width: 100%;
  }
    /* Estilos para BOTÕES */
  .btn-WhatsApp {
    background-color: rgb(81, 219, 81); /* Cor de fundo do botão */
    color: green; /* Cor do texto */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    border: none; /* Sem bordas */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    padding: 1% 1%; /* Espaçamento interno */
    font-size: 150%; /* Tamanho da fonte */
    width: 100%;
  }
  .btn-Reflexão {
    background-color: rgb(90, 90, 245); /* Cor de fundo do botão */
    color: yellow; /* Cor do texto */
    border: none; /* Sem bordas */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    padding: 1% 1%;
    font-size: 150%;
    width: 100%;
  }
  /* Estilos para BOTÃO */
  .btn-Fontes {
    background-color: yellow; /* Cor de fundo do botão */
    color: brown; /* Cor do texto */
    border: none; /* Sem bordas */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block;
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    padding: 1% 1%;
    font-size: 150%;
    width: 100%;
  }
  /* Estilos para BOTÃO */
  .btn-Instagram {
    background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
    color: rgb(50, 50, 186); /* Cor do texto */
    border: none; /* Sem bordas */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block;
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    padding: 1% 1%;
    font-size: 150%;
    width: 100%;
  }

  /* Estilos para RODAPÉ */
  footer {
    display:block;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 1%;
    font-size: 80%;
    overflow: auto;
    width: 100%;
  }
}

/* Celular grande*/ /* Celular grande*/ /* Celular grande*/ /* Celular grande*/ /* Celular grande*/ /* Celular grande*/ /* Celular grande*/

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    body{
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      width: 95%;
    }
    .navbar {
      display: flex;
      padding-right: 2%;
      overflow: auto;
      width: 100%;
    }
    .logo {
      font-style: italic;
      padding-left: 3%;
      padding-right: 3%;
    }
    .menu {
      list-style: none;
      margin: auto;
      padding-left: 1%;
      padding-right: 1%;
      display: flex;
    }
    .menu li { 
      padding-left: 2%;
      padding-right: 2%;
    }

    .font {
      font-family: Arial, Helvetica, sans-serif;
    }
    h1{
      font-size: 170%;
      text-decoration: underline;
    }
    h2{
      font-size: 165%;
    }
    h3{
      font-size: 160%;
    }
    h4{
      font-size: 155%;
    }
    h5{
      font-size: 150%;
    }

    p{
    /* Para Android e iOS */
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      padding-left: 1%;
      padding-right: 1%;
      text-align: justify;
      text-indent: 10%;
      font-size: 150%;
      width: 100%;
    }

    p1{
    /* Para Android e iOS */
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      padding-left: 1%;
      padding-right: 1%;
      font-size: 150%;
      width: 100%;
    }

    p2{
    /* Para Android e iOS */
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      padding-left: 1%;
      padding-right: 1%;
      text-indent: 10%;
      font-size: 150%;
      width: 100%;
    }

    /* Estilos para COLUNAS */
    /* grid 100%*/
    .linha {
      width: 100%;
      margin: auto;
      overflow: auto;
      padding: 0% 0%;
      }
    .colunaJA {
      float: left;
      }
    .colJA1 {
      /* Para Android e iOS */
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      font-size: 110%;
      width: 50%;
      text-align: left;
      padding-left: 0%;
      }
    .colJA2 {
    /* Para Android e iOS */
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      font-size: 110%;
      width: 50%;
      text-align: left;
      padding-right: 0%;
      }

    .colJA3 {
    /* Para Android e iOS */
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      font-size: 130%;
      width: 92%;
      text-indent: 1%;
      padding-left: 8%;
    }
      
    .colJA4 {
    /* Para Android e iOS */
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      font-size: 130%;
      width: 92%;
      text-indent: 0%;
      padding-left: 8%;
    }
    .colser1 {
      /* Para Android e iOS */
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      text-indent: 1%;
      padding-left: 8%;
      font-size: 130%;
      width: 92%;
      text-align: left;
    }

    /* Estilos para BOTÕES */
    .btn-Certificados {
      background-color: rgb(247, 247, 102); /* Cor de fundo do botão */
      color: red; /* Cor do texto */
      border: none; /* Sem bordas */
      text-align: center; /* Alinhamento do texto */
      text-decoration: none; /* Sem sublinhado */
      display: block; /* Posição do botão */
      margin: auto;
      cursor: pointer; /* Cursor de mão ao passar o mouse */
      padding: 1% 1%;
      font-size: 200%;
      width: 100%;
    }
      /* Estilos para BOTÕES */
    .btn-WhatsApp {
      background-color: rgb(81, 219, 81); /* Cor de fundo do botão */
      color: green; /* Cor do texto */
      margin: auto;
      cursor: pointer; /* Cursor de mão ao passar o mouse */
      border: none; /* Sem bordas */
      text-align: center; /* Alinhamento do texto */
      text-decoration: none; /* Sem sublinhado */
      display: block; /* Posição do botão */
      padding: 1% 1%; /* Espaçamento interno */
      font-size: 200%; /* Tamanho da fonte */
      width: 100%;
    }
    .btn-Reflexão {
      background-color: rgb(90, 90, 245); /* Cor de fundo do botão */
      color: yellow; /* Cor do texto */
      border: none; /* Sem bordas */
      text-align: center; /* Alinhamento do texto */
      text-decoration: none; /* Sem sublinhado */
      display: block; /* Posição do botão */
      margin: auto;
      cursor: pointer; /* Cursor de mão ao passar o mouse */
      padding: 1% 1%;
      font-size: 200%;
      width: 100%;
    }
    /* Estilos para BOTÃO */
    .btn-Fontes {
      background-color: yellow; /* Cor de fundo do botão */
      color: brown; /* Cor do texto */
      border: none; /* Sem bordas */
      text-align: center; /* Alinhamento do texto */
      text-decoration: none; /* Sem sublinhado */
      display: block;
      margin: auto;
      cursor: pointer; /* Cursor de mão ao passar o mouse */
      padding: 1% 1%;
      font-size: 200%;
      width: 100%;
      
    }
    /* Estilos para BOTÃO */
    .btn-Instagram {
      background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
      color: rgb(50, 50, 186); /* Cor do texto */
      border: none; /* Sem bordas */
      text-align: center; /* Alinhamento do texto */
      text-decoration: none; /* Sem sublinhado */
      display: block;
      margin: auto;
      cursor: pointer; /* Cursor de mão ao passar o mouse */
      padding: 1% 1%;
      font-size: 200%;
      width: 100%; 
    }

    /* Estilos para RODAPÉ */
    footer {
      display:block;
      background-color: blue;
      text-align: center;
      color: white;
      padding: 1%;
      font-size: 90%;
      overflow: auto;
      width: 100%;
    }
  }

  /* Tablet */ /* Tablet */ /* Tablet */ /* Tablet */ /* Tablet */ /* Tablet */ /* Tablet */ /* Tablet */ /* Tablet */ /* Tablet */

      @media only screen and (min-width: 769px) and (max-width: 1024px) {
        body{
          flex-direction: column;
          align-items: stretch;
          justify-content: center;
          width: 96%;
        }
        .navbar {
          display: flex;
          padding-right: 2%;
          overflow: auto;
          width: 100%;
        }
        .logo {
          font-style: italic;
          padding-left: 3%;
          padding-right: 3%;
        }
        .menu {
          list-style: none;
          margin: auto;
          padding-left: 1%;
          padding-right: 1%;
          display: flex;
        }
        .menu li { 
          padding-left: 2%;
          padding-right: 2%;
        }
    
        .font {
          font-family: Arial, Helvetica, sans-serif;
        }
        h1{
          font-size: 270%;
          text-decoration: underline;
        }
        h2{
          font-size: 265%;
        }
        h3{
          font-size: 260%;
        }
        h4{
          font-size: 255%;
        }
        h5{
          font-size: 250%;
        }
    
        p{
        /* Para Android e iOS */
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          padding-left: 1%;
          padding-right: 1%;
          text-align: justify;
          text-indent: 10%;
          font-size: 240%;
          width: 100%;
        }
    
        p1{
        /* Para Android e iOS */
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          padding-left: 1%;
          padding-right: 1%;
          font-size: 240%;
          width: 100%;
        }
    
        p2{
        /* Para Android e iOS */
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          padding-left: 1%;
          padding-right: 1%;
          text-indent: 10%;
          font-size: 240%;
          width: 100%;
        }
    
        /* Estilos para COLUNAS */
        /* grid 100%*/
        .linha {
          width: 100%;
          margin: auto;
          overflow: auto;
          padding: 0% 0%;
          }
        .colunaJA {
          float: left;
          }
        .colJA1 {
          /* Para Android e iOS */
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          font-size: 145%;
          width: 50%;
          text-align: left;
          padding-left: 0%;
          }
        .colJA2 {
        /* Para Android e iOS */
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          font-size: 145%;
          width: 50%;
          text-align: left;
          padding-right: 0%;
          }
    
        .colJA3 {
        /* Para Android e iOS */
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          font-size: 208%;
          width: 90%;
          text-indent: 1%;
          padding-left: 10%;
        }
          
        .colJA4 {
        /* Para Android e iOS */
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          font-size: 208%;
          width: 90%;
          text-indent: 0%;
          padding-left: 10%;
        }
        
        .colser1 {
          /* Para Android e iOS */
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          text-indent: 1%;
          padding-left: 10%;
          font-size: 208%;
          width: 90%;
          text-align: left;
        }
    
        /* Estilos para BOTÕES */
        .btn-Certificados {
          background-color: rgb(247, 247, 102); /* Cor de fundo do botão */
          color: red; /* Cor do texto */
          border: none; /* Sem bordas */
          text-align: center; /* Alinhamento do texto */
          text-decoration: none; /* Sem sublinhado */
          display: block; /* Posição do botão */
          margin: auto;
          cursor: pointer; /* Cursor de mão ao passar o mouse */
          padding: 1% 1%;
          font-size: 300%;
          width: 100%;
        }
          /* Estilos para BOTÕES */
        .btn-WhatsApp {
          background-color: rgb(81, 219, 81); /* Cor de fundo do botão */
          color: green; /* Cor do texto */
          margin: auto;
          cursor: pointer; /* Cursor de mão ao passar o mouse */
          border: none; /* Sem bordas */
          text-align: center; /* Alinhamento do texto */
          text-decoration: none; /* Sem sublinhado */
          display: block; /* Posição do botão */
          padding: 1% 1%; /* Espaçamento interno */
          font-size: 300%; /* Tamanho da fonte */
          width: 100%;
        }
        .btn-Reflexão {
          background-color: rgb(90, 90, 245); /* Cor de fundo do botão */
          color: yellow; /* Cor do texto */
          border: none; /* Sem bordas */
          text-align: center; /* Alinhamento do texto */
          text-decoration: none; /* Sem sublinhado */
          display: block; /* Posição do botão */
          margin: auto;
          cursor: pointer; /* Cursor de mão ao passar o mouse */
          padding: 1% 1%;
          font-size: 300%;
          width: 100%;
        }
        /* Estilos para BOTÃO */
        .btn-Fontes {
          background-color: yellow; /* Cor de fundo do botão */
          color: brown; /* Cor do texto */
          border: none; /* Sem bordas */
          text-align: center; /* Alinhamento do texto */
          text-decoration: none; /* Sem sublinhado */
          display: block;
          margin: auto;
          cursor: pointer; /* Cursor de mão ao passar o mouse */
          padding: 1% 1%;
          font-size: 300%;
          width: 100%;
          
        }
        /* Estilos para BOTÃO */
        .btn-Instagram {
          background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
          color: rgb(50, 50, 186); /* Cor do texto */
          border: none; /* Sem bordas */
          text-align: center; /* Alinhamento do texto */
          text-decoration: none; /* Sem sublinhado */
          display: block;
          margin: auto;
          cursor: pointer; /* Cursor de mão ao passar o mouse */
          padding: 1% 1%;
          font-size: 300%;
          width: 100%;
        }
    
        /* Estilos para RODAPÉ */
        footer {
          display:block;
          background-color: blue;
          text-align: center;
          color: white;
          padding: 1%;
          font-size: 120%;
          overflow: auto;
          width: 100%;
        }
      }

        /* Laptops */ /* Laptops */ /* Laptops */ /* Laptops */ /* Laptops */ /* Laptops */ /* Laptops */ /* Laptops */ /* Laptops */ /* Laptops */

        @media only screen and (min-width: 1025px) and (max-width: 1200px) {
          body{
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            width: 97%;
          }
          .navbar {
            display: flex;
            padding-right: 2%;
            overflow: auto;
            width: 100%;
          }
          .logo {
            font-style: italic;
            padding-left: 3%;
            padding-right: 3%;
          }
          .menu {
            list-style: none;
            margin: auto;
            padding-left: 1%;
            padding-right: 1%;
            display: flex;
          }
          .menu li { 
            padding-left: 2%;
            padding-right: 2%;
          }
      
          .font {
            font-family: Arial, Helvetica, sans-serif;
          }
          h1{
            font-size: 360%;
            text-decoration: underline;
          }
          h2{
            font-size: 350%;
          }
          h3{
            font-size: 320%;
          }
          h4{
            font-size: 310%;
          }
          h5{
            font-size: 300%;
          }
      
          p{
          /* Para Android e iOS */
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            padding-left: 1%;
            padding-right: 1%;
            text-align: justify;
            text-indent: 10%;
            font-size: 300%;
            width: 100%;
          }
      
          p1{
          /* Para Android e iOS */
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            padding-left: 1%;
            padding-right: 1%;
            font-size: 300%;
            width: 100%;
          }
      
          p2{
          /* Para Android e iOS */
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            padding-left: 1%;
            padding-right: 1%;
            text-indent: 10%;
            font-size: 300%;
            width: 100%;
          }
      
          /* Estilos para COLUNAS */
          /* grid 100%*/
          .linha {
            width: 100%;
            margin: auto;
            overflow: auto;
            padding: 0% 0%;
            }
          .colunaJA {
            float: left;
            }
          .colJA1 {
            /* Para Android e iOS */
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            font-size: 184%;
            width: 50%;
            text-align: left;
            padding-left: 0%;
            }
          .colJA2 {
          /* Para Android e iOS */
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            font-size: 184%;
            width: 50%;
            text-align: left;
            padding-right: 0%;
            }
      
          .colJA3 {
          /* Para Android e iOS */
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            font-size: 270%;
            width: 89%;
            text-indent: 1%;
            padding-left: 11%;
          }
            
          .colJA4 {
          /* Para Android e iOS */
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            font-size: 270%;
            width: 89%;
            text-indent: 0%;
            padding-left: 11%;
          }
          
          .colser1 {
            /* Para Android e iOS */
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            text-indent: 1%;
            padding-left: 12%;
            font-size: 270%;
            width: 88%;
            text-align: left;
          }
      
          /* Estilos para BOTÕES */
          .btn-Certificados {
            background-color: rgb(247, 247, 102); /* Cor de fundo do botão */
            color: red; /* Cor do texto */
            border: none; /* Sem bordas */
            text-align: center; /* Alinhamento do texto */
            text-decoration: none; /* Sem sublinhado */
            display: block; /* Posição do botão */
            margin: auto;
            cursor: pointer; /* Cursor de mão ao passar o mouse */
            padding: 1% 1%;
            font-size: 400%;
            width: 100%;
          }
            /* Estilos para BOTÕES */
          .btn-WhatsApp {
            background-color: rgb(81, 219, 81); /* Cor de fundo do botão */
            color: green; /* Cor do texto */
            margin: auto;
            cursor: pointer; /* Cursor de mão ao passar o mouse */
            border: none; /* Sem bordas */
            text-align: center; /* Alinhamento do texto */
            text-decoration: none; /* Sem sublinhado */
            display: block; /* Posição do botão */
            padding: 1% 1%; /* Espaçamento interno */
            font-size: 400%; /* Tamanho da fonte */
            width: 100%;
          }
          .btn-Reflexão {
            background-color: rgb(90, 90, 245); /* Cor de fundo do botão */
            color: yellow; /* Cor do texto */
            border: none; /* Sem bordas */
            text-align: center; /* Alinhamento do texto */
            text-decoration: none; /* Sem sublinhado */
            display: block; /* Posição do botão */
            margin: auto;
            cursor: pointer; /* Cursor de mão ao passar o mouse */
            padding: 1% 1%;
            font-size: 400%;
            width: 100%;
          }
          /* Estilos para BOTÃO */
          .btn-Fontes {
            background-color: yellow; /* Cor de fundo do botão */
            color: brown; /* Cor do texto */
            border: none; /* Sem bordas */
            text-align: center; /* Alinhamento do texto */
            text-decoration: none; /* Sem sublinhado */
            display: block;
            margin: auto;
            cursor: pointer; /* Cursor de mão ao passar o mouse */
            padding: 1% 1%;
            font-size: 400%;
            width: 100%;
          }
          /* Estilos para BOTÃO */
          .btn-Instagram {
            background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
            color: rgb(50, 50, 186); /* Cor do texto */
            border: none; /* Sem bordas */
            text-align: center; /* Alinhamento do texto */
            text-decoration: none; /* Sem sublinhado */
            display: block;
            margin: auto;
            cursor: pointer; /* Cursor de mão ao passar o mouse */
            padding: 1% 1%;
            font-size: 400%;
            width: 100%;
          }
      
          /* Estilos para RODAPÉ */
          footer {
            display:block;
            background-color: blue;
            text-align: center;
            color: white;
            padding: 1%;
            font-size: 140%;
            overflow: auto;
            width: 100%;
          }
        }

          /* Desktops */ /* Desktops */ /* Desktops */ /* Desktops */ /* Desktops */ /* Desktops */ /* Desktops */ /* Desktops */ /* Desktops */ /* Desktops */

          @media only screen and (min-width: 1201px){
            .containerJA {
              max-width: 70%; /* Define a largura máxima da página */
              margin: 0 auto;   /* Centraliza o conteúdo */
            }
            .containertec {
              max-width: 70%; /* Define a largura máxima da página */
              margin: 0 auto;   /* Centraliza o conteúdo */
            }
            .containerser {
              max-width: 70%; /* Define a largura máxima da página */
              margin: 0 auto;   /* Centraliza o conteúdo */
            }
            body{
              flex-direction: column;
              align-items: stretch;
              justify-content: center;
            }
            .navbar {
              display: flex;
              padding-right: 2%;
              overflow: auto;
              width: 100%;
            }
            .logo {
      
              padding-left: 3%;
              padding-right: 3%;
            }
            .menu {
              list-style: none;
              margin: auto;
              padding-left: 1%;
              padding-right: 1%;
              display: flex;
            }
            .menu li { 
              padding-left: 2%;
              padding-right: 2%;
            }
        
            .font {
              font-family: Arial, Helvetica, sans-serif;
            }
            h1{
              font-size: 350%;
              
          
            }
            h2{
              font-size: 340%;
              color: yellow;
            
            }
            h3{
              font-size: 300%;
            }
            h4{
              font-size: 300%;
            }
            h5{
              font-size: 300%;
            }
        
            p{
            /* Para Android e iOS */
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              padding-left: 1%;
              padding-right: 1%;
              text-align: justify;
              text-indent: 10%;
              font-size: 250%;
              width: 100%;
            }
            p1{
            /* Para Android e iOS */
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              padding-left: 1%;
              padding-right: 1%;
              font-size: 250%;
              width: 100%;
            }
            p2{
            /* Para Android e iOS */
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              padding-left: 1%;
              padding-right: 1%;
              text-indent: 10%;
              font-size: 290%;
              width: 100%;
            }
        
            /* Estilos para COLUNAS */
            /* grid 100%*/
            .linha {
              width: 100%;
              margin: auto;
              overflow: auto;
              padding: 0% 0%;
              }
            .colunaJA {
              float: left;
              }
            .colJA1 {
              /* Para Android e iOS */
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              font-size: 170%;
              width: 50%;
              text-align: left;
              padding-left: 0%;
              }
            .colJA2 {
            /* Para Android e iOS */
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              font-size: 170%;
              width: 50%;
              text-align: left;
              padding-right: 0%;
              }
        
            .colJA3 {
            /* Para Android e iOS */
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              font-size: 260%;
              width: 89%;
              text-indent: 1%;
              padding-left: 11%;
            }
              
            .colJA4 {
            /* Para Android e iOS */
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              font-size: 260%;
              width: 89%;
              text-indent: 0%;
              padding-left: 11%;
            }
            
            .colser1 {
              /* Para Android e iOS */
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              text-indent: 1%;
              padding-left: 12%;
              font-size: 260%;
              width: 88%;
              text-align: left;
            }
        
            /* Estilos para BOTÕES */
            .btn-localização {
              background-color: rgb(247, 247, 102); /* Cor de fundo do botão */
              color: green; /* Cor do texto */
              border: none; /* Sem bordas */
              text-align: center; /* Alinhamento do texto */
              text-decoration: none; /* Sem sublinhado */
              display: block; /* Posição do botão */
              margin: auto;
              cursor: pointer; /* Cursor de mão ao passar o mouse */
              padding: 1% 1%;
              font-size: 130%;
              width: 100%;
            }

            /* Estilos para BOTÕES */
            .btn-vidéo {
              background-color: silver; /* Cor de fundo do botão */
              color: green; /* Cor do texto */
              border: none; /* Sem bordas */
              text-align: center; /* Alinhamento do texto */
              text-decoration: none; /* Sem sublinhado */
              display: block; /* Posição do botão */
              margin: auto;
              cursor: pointer; /* Cursor de mão ao passar o mouse */
              padding: 1% 1%;
              font-size: 310%;
              width: 100%;
            }
              /* Estilos para BOTÕES */
            .btn-convenção {
              background-color: rgb(81, 219, 81); /* Cor de fundo do botão */
              color: white; /* Cor do texto */
              margin: auto;
              cursor: pointer; /* Cursor de mão ao passar o mouse */
              border: none; /* Sem bordas */
              text-align: center; /* Alinhamento do texto */
              text-decoration: none; /* Sem sublinhado */
              display: block; /* Posição do botão */
              padding: 1% 1%; /* Espaçamento interno */
              font-size: 310%; /* Tamanho da fonte */
              width: 100%;
            }
            .btn-Reflexão {
              background-color: rgb(90, 90, 245); /* Cor de fundo do botão */
              color: yellow; /* Cor do texto */
              border: none; /* Sem bordas */
              text-align: center; /* Alinhamento do texto */
              text-decoration: none; /* Sem sublinhado */
              display: block; /* Posição do botão */
              margin: auto;
              cursor: pointer; /* Cursor de mão ao passar o mouse */
              padding: 1% 1%;
              font-size: 400%;
              width: 100%;
            }
            /* Estilos para BOTÃO */
            .btn-Fontes {
              background-color: yellow; /* Cor de fundo do botão */
              color: brown; /* Cor do texto */
              border: none; /* Sem bordas */
              text-align: center; /* Alinhamento do texto */
              text-decoration: none; /* Sem sublinhado */
              display: block;
              margin: auto;
              cursor: pointer; /* Cursor de mão ao passar o mouse */
              padding: 1% 1%;
              font-size: 400%;
              width: 100%;
            }
            /* Estilos para BOTÃO */
            .btn-Instagram {
              background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
              color: rgb(50, 50, 186); /* Cor do texto */
              border: none; /* Sem bordas */
              text-align: center; /* Alinhamento do texto */
              text-decoration: none; /* Sem sublinhado */
              display: block;
              margin: auto;
              cursor: pointer; /* Cursor de mão ao passar o mouse */
              padding: 1% 1%;
              font-size: 400%;
              width: 100%;
            }
        
            /* Estilos para RODAPÉ */
            footer {
              display:block;
              background-color: blue;
              text-align: center;
              color: white;
              padding: 1%;
              font-size: 120%;
              overflow: auto;
              width: 100%;
            }
          }